/**/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bangers');


body{
  background-color: orangered;
  font-family: 'Bangers', cursive;
  color: black;

}
button , label{
  margin-top: 20px;
  color: black; 
}
h1{
  font-family: 'Lobster', cursive;
  text-align: center;
}